@tailwind base;
@tailwind components;
@tailwind utilities;

/* #ef9c00 */
/* #141414 */
/* #1c1c1c; */
/* #262626 */
/* #7f7f7f */
/* #f7f7f7 */
/* #ffffff */

.bgOverlay {
    background-image: url('assets/BgOverlay.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.bgHero {
    background-image: url('assets/BgHero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.bgOverlayHero {
    background-image: url('assets/BgHero-Right.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}