@tailwind base;
@tailwind components;
@tailwind utilities;

/* #ef9c00 */
/* #141414 */
/* #1c1c1c; */
/* #262626 */
/* #7f7f7f */
/* #f7f7f7 */
/* #ffffff */

.bgOverlay {
    background-image: url('./assets/BgOverlay.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
}